

body {
    background-color: #1acd77 !important;
}


.custom-margin {
    margin-right: 55px;
    margin-top: 15px;
    margin-bottom: 25px;
    height: 350px;
    background-color: white;
    border-radius: 25px;
}

.bold {
    font-family: Inter, sans-serif;
    font-weight: bold;
}

#account-profile {
    height: 100px;
}

#settings-icon {
    height: 30px;
}