button.btn-success {
    background-color: #1ACD77;
    border-color: #1ACD77;
    border-radius: 9px;
    font-weight: bold;
    border-width: 3px;
    margin-top: 10px;
    padding: 5px 104px 5px 104px;
    width: 100%;
}

button.btn-secondary {
    background-color: #ffffff;
    color: #1ACD77;
    border-color: #1ACD77;
    border-radius: 9px;
    border-width: 3px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 130px 5px 130px;
    width: 100%;
}

button.btn-secondary:hover {
    background-color: #1ACD77;
    color: #ffffff;
    border-color: #1ACD77;
    border-radius: 9px;
    border-width: 3px;
    font-weight: bold;
}

label{
    font-weight: 450;
    margin-bottom: 5px;
}

input{
    margin-bottom: 10px;
}

.form-control {
    border: 0;
    background-color: #f1f1f1;
    font-weight: 450;
}

p{
    text-align: center;
}

.text-success{
    font-family: Inter;
    font-weight: bold;
    color: #1ACD77!important;
    text-align: center;
}

div.modal-content {
    border-radius: 12px;
    border: 0 solid;
}