@font-face {
    font-family: 'Cocogoose-Narrow';
    src: url('assets/cocogoose/Cocogoose-Narrow/Cocogoose-Narrow-Regular-trial.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cocogoose Narrow", sans-serif;
}


/* NAV */
/* Nav moet wit & logo zwart */
.navbar{
    background-color: #1ACD77;
}

.navbar-brand{
    width: 100%;
    height: auto;
}

.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #E6EAE5;
    font-weight: bold;
}
ul li a:hover{
    color: #1c8536;
}

.logo_h1 {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.bg-color {
    background-color: #1ACD77;
    color: #ffff;
}



@media (max-width: 992px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

    }
    .navbar-toggler{
        color: #ffffff;
    }
    .navbar-collapse{
        background-color: #1ACD77;
        padding: 10px;
    }
    .navbar-nav{
        display: none;
        height: 1200px;
    }
    li a{
        font-size: 30px;
    }
    li a img{
        width: 40px;
    }
}

/* Betalen 1 pagina */
.marginTopBetalen1 {
    margin-top: 10rem;
}
.imgGrootte {
    width: auto;
    height: 150px;
}
.achtergrondVerder {
    color: #1ACD77;
    border: 1px solid #1ACD77;
}
.achtergrondBestellen {
    background-color: #1ACD77;
    color: #ffffff;
}