/* Bertrand */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cocogoose Narrow", sans-serif;
}

@font-face {
    font-family: 'Cocogoose-Narrow';
    src: url('assets/cocogoose/Cocogoose-Narrow/Cocogoose-Narrow-Regular-trial.ttf');
}

body {
    background-color: #fff;
    color: black;
}
/* NAV */
.navbar{
    background-color: #fff;
}

.navbar-brand{
    width: 100%;
    height: auto;
}

.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
ul li a:hover{
    color: #1c8536;
}

.logo_h1 {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.bg-color {
    background-color: #1ACD77;
    color: #ffff;
}

.fixed-button {
    width: 12rem;
}

.btn-primary {
    color: #1ACD77;
    background-color: transparent;
    border-color: #1ACD77;
}

.btn-secondary {
    color: white;
    background-color: #1ACD77;
    border-color: #1ACD77;
}

.btn-primary:hover {
    background-color: #1ACD77 !important;
    border-color: #1ACD77 !important;
}

.btn-primary:hover {
    background-color: #1ACD77 !important;
    border-color: #1ACD77 !important;
}

.btn-secondary:hover {
    color: #1ACD77 !important;
    background-color: white !important;
    border-color: #1ACD77 !important;
}

.thick-green {
    font-weight: bold;
    color: #1ACD77;
}


.card {
    display: flex;
    justify-content: flex-end;
    height: 80vh;
}