* {
    font-family: Inter,sans-serif;
}

.container2 {
    margin-top: 10%;
}

/* NAV */
.navbar{
    background-color: #1ACD77;
}

.navbar-brand{
    width: 100%;
    height: auto;
}

.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #E6EAE5;
    font-weight: bold;
}
ul li a:hover{
    color: #1c8536;
}

.logo_h1 {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.bg-color {
    background-color: #1ACD77;
    color: #ffff;
}

/* BUTTON */
.btn {
    border: 2px solid #1ACD77;
    font-weight: bold;
    color: #1ACD77;

}

.btn:hover {
    background-color: #1ACD77;
    color: white;
}

/* CARD */
.profiel {
    width: 60px;
}
.card-title {
    font-size: 0.85rem;
    font-weight: bold;
}
.undertitle {
    font-size: 0.7rem;
    font-weight: bold;
    color: #bdbdbd;
}
.bigtitle {
    font-size: 1.8rem;
    font-weight: bold;
}

/* FOOTER */
.bg-color {
    background-color: #1ACD77;
    color: white;
}
.fa-brands {
    color: white;
}
.fa-brands:hover {
    color: black;
}

@media (max-width: 767px) {
    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
    .row.row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .col {
        flex: 0 0 auto;
        width: auto;
        margin-right: 1rem;
    }
}
@media (max-width: 1024px) {
    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
    .row.row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .col {
        flex: 0 0 auto;
        width: auto;
        margin-right: 1rem;
    }
}
