* {
    font-family: Inter,sans-serif;
}


.btn {
    border: 2px solid #1ACD77;
    font-weight: bold;
    color: #1ACD77;

}

.btn:hover {
    background-color: #1ACD77;
    color: white;
}
.profiel {
    width: 60px;
}
.card-title {
    font-size: 0.85rem;
    font-weight: bold;
}
.undertitle {
    font-size: 0.7rem;
    font-weight: bold;
    color: #a9a9a9;
}
.bigtitle {
    font-size: 1.8rem;
    font-weight: bold;
}
@media (max-width: 767px) {
    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
}
@media (max-width: 1024px) {
    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
    .profiel {
        width: 20%;

    }
}

@media (max-width: 767px) {
    .row.row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .col {
        flex: 0 0 auto;
        width: auto;
        margin-right: 1rem;
    }
}
@media (max-width: 1024px) {
    .row.row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .col {
        flex: 0 0 auto;
        width: auto;
        margin-right: 1rem;
    }
    .profiel {
        width: 20%;
    }
    .card-title {
    }
}
