* {
    font-family: Inter,sans-serif;
}
.navbar{
    background-color: #1ACD77;
}

.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #E6EAE5;
    font-weight: bold;
}
ul li a:hover{
    color: #000000;
}
.rise-up {
    font-family: "Cocogoose Condensed Trial", sans-serif;
    color: white;
    font-size: large;
}

.btn {
    border: 2px solid #1ACD77;
    font-weight: bold;
    color: #1ACD77;

}


.btn:hover {
    background-color: #1ACD77;
    color: white;
}
.btn-div {
    margin-top: 100px;
}
.profiel {
    width: 60px;
}
.card-title {
    font-size: 0.85rem;
    font-weight: bold;
}
.undertitle {
    font-size: 0.7rem;
    font-weight: bold;
    color: #a9a9a9;
}
.bigtitle {
    font-size: 1.8rem;
    font-weight: bold;
}
@media (max-width: 992px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

    }
    .navbar-toggler{
        color: #ffffff;
    }
    .navbar-collapse{
        background-color: #1ACD77;
        padding: 10px;
    }
    .navbar-nav{
        display: none;
        height: 1200px;
    }
    li a{
        font-size: 30px;
    }
    li a img{
        width: 40px;
    }
    header{
        padding-top: 40px;
    }
    #main_formulier{
        padding-top: 100px;
    }
}



@media (max-width: 767px) {
    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
}
@media (max-width: 1024px) {
    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
    .profiel {
        width: 20%;

    }
}

@media (max-width: 767px) {
    .row.row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .col {
        flex: 0 0 auto;
        width: auto;
        margin-right: 1rem;
    }
}
@media (max-width: 1024px) {
    .row.row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .col {
        flex: 0 0 auto;
        width: auto;
        margin-right: 1rem;
    }
    .profiel {
        width: 20%;
    }
}
