* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Cocogoose condensed Trial', sans-serif;
}
h6, main .container a, option, label, p {
    font-family: Inter, sans-serif;
}


/* NAV */
.navbar{
    background-color: #1ACD77;
}

.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #E6EAE5;
    font-weight: bold;
}
ul li a:hover{
    color: #000000;

}

.logo_h1 {
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: white;
}

.bg-color {
    background-color: #1ACD77;
    color: #ffff;
}

@media (max-width: 992px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

    }
    .navbar-toggler{
        color: #ffffff;
    }
    .navbar-collapse{
        background-color: #1ACD77;
        padding: 10px;
    }
    .navbar-nav{
        display: none;
        height: 1200px;
    }
    li a{
        font-size: 30px;
    }
    li a img{
        width: 40px;
    }
}


/* Producten pagina's */

.porductenpagina {
    background-color: #1acd77;
}
header h1 {
    font-size: 5rem;
}
main img {
    width: auto;
    height: 100px;
}
.bold {
    font-weight: bold;
}
footer img {
    width: auto;
    height: 40px;
}
.color {
    color: #1acd77;
    font-size: 3.5rem;
}

  .tekstGrootte {
    font-size: 1.5rem;
  }
  .tekstGrootePrijs {
    font-size: 1.5rem;
  }
  .prijsGrootte {
    font-size: 2rem;
    margin-left: 1%;
  }
  .input{

        border: 2px solid transparent;
        border-radius: 20px;
        
        width: 70px;
}

  .sizeeee {
    font-size: 2rem;
    font-weight: normal;
  }




  
  a {
    text-decoration: none;
    color: black;
  }

  .marginTop {
    margin-top: 2.2rem;
  }
.bg-color {
    background-color: #1ACD77;
    color: #22c573;
}

.btn {
    border: 2px solid #ffffff;
    font-weight: bold;
    color: #ffffff;

}


.btn-div {
    margin-top: 100px;
    justify-content: center;
}
.profiel {
    width: 60px;
}
.card-title {
    font-size: 0.85rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.card-title:hover {
    color: #1ACD77;
}
.card-title:active {
    color: #1ACD77;
}

.undertitle {
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffffff;
}
.bigtitle {
    font-size: 1.8rem;
    font-weight: bold;
}
@media (max-width: 767px) {
    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
    .row.row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .col {
        flex: 0 0 auto;
        width: auto;
        margin-right: 1rem;
    }
}
@media (max-width: 1024px) {
    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
    .row.row-cols-md-4 {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .col {
        flex: 0 0 auto;
        width: auto;
        margin-right: 1rem;
    }
    .profiel {
        width: 30%;
    }
}


.left-foto {
    max-width: 60%;
}
.TekstP {
    font-size: 20px
}





@media  (min-width: 992px) {
    .test {
        font-size:2rem;
    }
    .tekstGrootePrijs {
        font-size: 1.8rem;
      }
      .prijsGrootte {
        font-size: 3rem;
      }

  }

  .active {
    background-color: #1ACD77;
    color: #fff;
  }