* {
    font-family: Inter,sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #fff;
}

.navbar-brand{
    width: 100%;
    height: auto;
}

.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
ul li a:hover{
    color: #1c8536;
}

.logo_h1 {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.bg-color {
    background-color: #1ACD77;
    color: #ffff;
}

.fixed-button {
    width: 12rem;
}

.container2 {
    margin-top: 5%;
}
.img-fluid {
    width: 40%;
}
.img-fluid:hover {
    opacity: 0.70;
}

a {
    text-decoration: none;
    color: black;
}
.video-name {
    color: #a9a9a9;
    font-weight: bold;
}
a:hover {
    color: #1ACD77;
}
.titel {
    margin-left: 1rem;
}
iframe {
    border-radius: 10px;
}
@media (max-width: 992px) {
    .container2 {
        margin-top: 15%;
    }
}

@media (max-width: 767px) {
    .container2 {
        margin-top: 15%;
    }

}













