* {
    font-family: Inter,sans-serif;
    margin: 0;
    padding: 0;
}
.container2 {
    margin-top: 5%;
}

/* NAV */
.navbar{
    background-color: #fff;
}

.navbar-brand{
    width: 100%;
    height: auto;
}

.navbar-nav {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
ul li a:hover{
    color: #1ACD77;
}

.logo_h1 {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.fixed-button {
    width: 12rem;
}

/* CARD */
.img-fluid {
    width: 40%;
}
.img-fluid:hover {
    opacity: 0.70;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #1ACD77;
}
.titel {
    margin-left: 1rem;
}
.ondertitel {
    font-weight: bold;
    color: #bdbdbd;
}

/* VIDEO */
iframe {
    border-radius: 10px;
}

/* FOOTER */
.bg-color {
    background-color: #1ACD77;
    color: white;
}
.fa-brands {
    color: white;
}
.fa-brands:hover {
    color: black;
}

@media (max-width: 767px), (max-width: 992px)  {
    .container2 {
        margin-top: 10%;
    }
}

