* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Inter, sans-serif;
    font-weight: bold;
    background-color: #1ACD77;
}

form input, form select {
    width: 75%;
    height: 25px;
    border-radius: 5px;
    background-color: #1ACD77;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
}

#log-button {
    border-style: none;
    height: 30px;
    font-weight: bold;
    background-color: white;
    color: #1ACD77;
    margin-bottom: 15px;
}


.logo {
    height: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0f5132;
}

.logo h1 {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 15px;
}


.green-background {
    height: 100vh;
    background-color: #1ACD77;
}
.background1 {
    height: 100vh;
    background-image: url("background.svg");
}
.background2 {
    height: 100vh;
    background-image: url("background2.svg");
}
.background3 {
    height: 100vh;
    background-image: url("background3.svg");
}
.background4 {
    height: 100vh;
    background-image: url("background4.svg");
}

.log-in-field {
    margin-top: 25vh;
}

@font-face {
    font-family: 'Cocogoose-Narrow';
    src: url('cocogoose/Cocogoose-Narrow/Cocogoose-Narrow-Regular-trial.ttf');
}


.log-in-field h2 {
    font-family: Cocogoose-Narrow, sans-serif;
}

form select {
    margin-bottom: 25px;
}

#avatar-title {
    font-family: Cocogoose-Narrow, sans-serif;
}

.avatar-circle {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
}


.navbar {
    color: transparent;
    background-color: transparent !important;
}

.container-wrapper {
    background-color: transparent !important;

}

#create-button {
    border-style: none;
    height: 30px;
    font-weight: bold;
    background-color: white;
    color: #1ACD77;
    margin-bottom: 15px;
    width: 250px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.avatar-box {
    margin-top: 100px;
}